
#harvey {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size:130px;
    color: #fed136; 
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

#header_background {
   
    background-image: url('../img/banner1.jpeg');
}

/*.nav.navbar-default.navbar-custom.navbar-fixed-top {background-color: black}*/

#custommodal {
    position: initial;
}

.navbar-custom {background-color: black}



.main-slider 
{
    padding: 0px 0;
}


.section {
    padding: 10px 0;
}

.intro-lead-in {
     color: #f6fff3;
      text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}